name: Run slow TS tests
on:
  schedule:
    - cron: '0 12 * * 1,4' # 06:00 bi-weekly (mon, thu)
  workflow_dispatch:
jobs:
  slow:
    name: Slow large input tests
    uses: paulmillr/jsbt/.github/workflows/test-ts-slow.yml@857e7538fb14d48feaaa1dda889d8d4d10b9289d
    with:
      npm-task: test:slow
  dos:
    name: Slow DoS tests
    uses: paulmillr/jsbt/.github/workflows/test-ts-slow.yml@857e7538fb14d48feaaa1dda889d8d4d10b9289d
    with:
      npm-task: test:dos
  acvp:
    name: Slow ACVP tests
    uses: paulmillr/jsbt/.github/workflows/test-ts-slow.yml@857e7538fb14d48feaaa1dda889d8d4d10b9289d
    with:
      npm-task: test:acvp
  kdf:
    name: Slow KDF tests
    uses: paulmillr/jsbt/.github/workflows/test-ts-slow.yml@857e7538fb14d48feaaa1dda889d8d4d10b9289d
    with:
      npm-task: test:kdf
