name: Run slow JS tests
on:
  schedule:
  - cron: "0 12 * * *"
  workflow_dispatch:
jobs:
  dos:
    name: Test for DoS
    runs-on: ubuntu-latest
    env:
      MSHOULD_FAST: '1'
    steps:
      - uses: actions/checkout@1e31de5234b9f8995739874a8ce0492dc87873e2 # v4
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65 # v4
        with:
          node-version: ${{ matrix.node }}
          registry-url: 'https://registry.npmjs.org'
          cache: npm
      - run: npm install
      - run: npm run build --if-present
      - run: npm run test:dos
  big:
    name: Test large inputs & slow KDFs
    runs-on: ubuntu-latest
    env:
      MSHOULD_FAST: '1'
    steps:
      - uses: actions/checkout@1e31de5234b9f8995739874a8ce0492dc87873e2 # v4
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65 # v4
        with:
          node-version: ${{ matrix.node }}
          registry-url: 'https://registry.npmjs.org'
          cache: npm
      - run: npm install
      - run: npm run build --if-present
      - run: npm run test:big
